<ion-header class="chatHeader ion-no-border">
    <ion-toolbar>
        <ion-row>
            <ion-col size="8" class="left ion-no-padding d-flex ion-justify-content-start ion-align-items-center">
                <ion-img (click)="goBack()" class="arrow-left" src="/assets/icon/arrow-left.svg"></ion-img>
                <ion-avatar class="user userAvatar">
                    <ion-img class="" src="/assets/icon/user-circle.png"></ion-img>
                </ion-avatar>
                <div>
                    <h4 class="font15 fontw500 lh18 text-grey-01 m-0">Qaiser Abbas</h4>
                    <p *ngIf="isTyping == false" class="font10 fontw400 lh15  text-grey-3c m-0">Online</p>
                    <p *ngIf="isTyping == true" class="font10 fontw400 lh15  text-grey-3c m-0">typing...</p>
                </div>
            </ion-col>
            <ion-col size="4" class="right ion-no-padding d-flex ion-justify-content-end ion-align-items-center">
                <ion-img class="phone" src="/assets/icon/phone.svg"></ion-img>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>
<ion-content class="container" #content>
    <ion-grid fixed class="ion-no-padding">
        <ion-row>
            <!-- <div *ngFor="let message of messages">
                <b>{{ message.user }}</b>: {{ message.text }}
              </div> -->
            <ion-col *ngFor="let chat of messages; let i = index" size="12" class="mt-30" [ngClass]="{'send': chat.type === 'driver', 'received' : chat.type === 'rider' }">
                <div class="chatContainer">
                    <div class="time">
                        <span>{{chat?.created_at | date:'HH:mm'}}</span>
                        <ion-img id="click-trigger-{{i}}" class="dots" src="/assets/icon/chat-dots.svg"></ion-img>
                        <ion-popover trigger="click-trigger-{{i}}" triggerAction="click" class="delet-popover" size="auto">
                            <ng-template>
                              <div class="ion-padding">
                                <div (click)="onDelete(chat)">
                                    <a class="text-red">Delete</a>
                                </div>
                                <!-- <ion-item (click)="getInfo(chat)">
                                    <a>Message Info</a>
                                </ion-item> -->
                              </div>
                            </ng-template>
                          </ion-popover>
                    </div>
                    <div class="chatBoxUp">
                        <div class="chatBox">
                            <span>{{chat?.message}}</span>
                        </div>
                        <ion-img class="tick" src="/assets/icon/chat-tick.svg"></ion-img>
                    </div>
                </div>
            </ion-col>
            <!-- <ion-col size="12" class="received mt-30">
                <div class="chatContainer">
                    <div class="time">
                        <span>12:36</span>
                        <ion-img class="dots" src="/assets/icon/chat-dots.svg"></ion-img>
                    </div>
                    <div class="chatBoxUp">
                        <div class="chatBox">
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui, facilisis a mi rutrum integer. Augue commodo convallis dictum bibendum tellus. Ipsum lobortis elit sit amet Leo.</span>
                        </div>
                    </div>
                </div>
            </ion-col>
            <ion-col size="12" class="received mt-30">
                <div class="chatContainer">
                    <div class="time">
                        <span>12:37</span>
                        <ion-img class="dots" src="/assets/icon/chat-dots.svg"></ion-img>
                    </div>
                    <div class="chatBoxUp">
                        <div class="chatBox">
                            <span>Where are you?</span>
                        </div>
                    </div>
                </div>
            </ion-col> -->
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-content scrollX="true" class="suggestion">
        <div class="d-flex">
            <!-- <span (click)="onSend('Where are You?')">Where are You?</span>
            <span (click)="onSend('When will b here?')">When will b here?</span>
            <span (click)="onSend('I am waitin.')">I am waitin.</span>
            <span (click)="onSend('Where?')">Where?</span> -->
        </div>
    </ion-content>
    <form [formGroup]="ngForm">
        <ion-toolbar>
            <div class="containerFooter d-flex ion-justify-content-between">
                <div class="inputChat">
                    <ion-input (keydown)="onTyping($event)" formControlName="message"  color="dark" name="text" type="text" placeholder="Enter Message"></ion-input>
                </div>
                <ion-img (click)="onSend()" class="mic" src="/assets/icon/send-message.svg"></ion-img>
            </div>
        </ion-toolbar>
    </form>
</ion-footer>