<ion-content fullscreen="true" class="container">
    <ion-row class="login_top">
        <ion-col size="12" class="d-flex ion-wrap ion-justify-content-start headTop">
            <ion-button (click)="goBack()" fill="clear" class="ion-no-padding m-0">
                <ion-icon src="/assets/icon/back.svg" class=".arrowdown {
                  m-0" size="" slot="start"></ion-icon>
            </ion-button>
            <h1 class="font24 fontw700 w-100 ion-text-black ion-text-start mb-0 mt-0">Forgotten Password</h1>
        </ion-col>
    </ion-row>
    <ion-grid class="login_center position-relative">
        <ion-row>
            <form [formGroup]="ngForm" class="login-form">
                <ion-col size="12" class="px-0 pt-20 w-100">
                   <div
            class="
              mb-30
              w-100
              ion-no-padding
              d-flex
              ion-justify-content-center
              mt-20
              no-border
              px-30
            "
          >
            <!--  -->

            <ion-input
              name="code_0"
              #code_0
              formControlName="code_0"
              class="text-center otpInput ion-no-padding"
              [ngClass]="getClassOfCode(f,'code_0')"
              required="true"
              type="number"
              placeholder=""
              (keyup)="handleKeyUp($event)"
              (keydown)="handleKeyDown($event)"
              [clearOnEdit]="true"
            ></ion-input>
            <!--  -->

            <!--  -->
            <ion-input
              name="code_1"
              #code_1
              formControlName="code_1"
              class="text-center otpInput ion-no-padding ml-8"
              [ngClass]="getClassOfCode(f,'code_1')"
              required="true"
              type="number"
              placeholder=""
              (keyup)="handleKeyUp($event)"
              (keydown)="handleKeyDown($event)"
              [clearOnEdit]="true"
            ></ion-input>
            <!--  -->

            <!--  -->
            <ion-input
              name="code_2"
              #code_2
              formControlName="code_2"
              class="text-center otpInput ion-no-padding ml-8"
              [ngClass]="getClassOfCode(f,'code_2')"
              required="true"
              type="number"
              placeholder=""
              (keyup)="handleKeyUp($event)"
              (keydown)="handleKeyDown($event)"
              [clearOnEdit]="true"
            ></ion-input>
            <!--  -->

            <!--  -->
            <ion-input
              name="code_3"
              #code_3
              formControlName="code_3"
              class="text-center otpInput ion-no-padding ml-8"
              [ngClass]="getClassOfCode(f,'code_3')"
              required="true"
              type="number"
              placeholder=""
              (keyup)="handleKeyUp($event)"
              (keydown)="handleKeyDown($event)"
              [clearOnEdit]="true"
            ></ion-input>
            <!--  -->

            <!--  -->
            <ion-input
              name="code_4"
              #code_4
              formControlName="code_4"
              class="text-center otpInput ion-no-padding ml-8"
              [ngClass]="getClassOfCode(f,'code_4')"
              required="true"
              type="number"
              placeholder=""
              (keyup)="handleKeyUp($event)"
              (keydown)="handleKeyDown($event)"
              [clearOnEdit]="true"
            ></ion-input>
            <!--  -->

            <!--  -->
            <ion-input
              name="code_5"
              #code_5
              formControlName="code_5"
              class="text-center otpInput ion-no-padding ml-8"
              [ngClass]="getClassOfCode(f,'code_5')"
              required="true"
              placeholder=""
              type="number"
              (keyup)="handleKeyUp($event)"
              (keydown)="handleKeyDown($event)"
              [clearOnEdit]="true"
            ></ion-input>
            <!--  -->
          </div>
                    <ion-item class="customInput pt-30">
                        <ion-label position="floating" class="black-color font18 mt-0">Enter New Password<span class="required"></span></ion-label>
                        <ion-input formControlName="password"  [type]="show ? 'text' : 'password'" placeholder="Enter text"></ion-input>
                        <ion-icon [src]="show ? '/assets/icon/view.svg' : '/assets/icon/no-view.svg'" (click)="password()" class="inouticon" size="small" slot="end"></ion-icon>
                    </ion-item>
                    <ion-item class="customInput mt-40">
                        <ion-label position="floating" class="black-color font18 mt-0">Confirm Password<span class="required"></span></ion-label>
                        <ion-input formControlName="retype_password"  [type]="showRe ? 'text' : 'password'" placeholder="Enter text"></ion-input>
                        <ion-icon [src]="showRe ? '/assets/icon/view.svg' : '/assets/icon/no-view.svg'" (click)="rePassword()"class="inouticon" size="small" slot="end"></ion-icon>
                    </ion-item>

                </ion-col>
            </form>
        </ion-row>
        <ion-row>
            <ion-col size="12" class="d-flex ion-wrap ion-justify-content-center pt-50 pb-0 px-30 mb-0">
                <div class="d-flex flex-column w-100 ion-align-items-center
ion-justify-content-center ">
                    <ion-button (click)="submit()" color="light" fill="clear" class="btn-primary ion-no-margin ion-no-padding text-white fontw700 font17 ion-text-center">
                        <span>DONE &nbsp;
                            &nbsp;
                            <ion-spinner *ngIf="showLoadingSpin" class="spin-global" name="circular"></ion-spinner></span>
                    </ion-button>
                </div>
            </ion-col>

        </ion-row>
    </ion-grid>
</ion-content>