.container {
    --padding-bottom: 30px;
}

.login_center {
    padding: 2vh 10px 2vh 15px;
}

ion-footer {
    background: #FFFFFF;
    border-radius: 18px 18px 0 0;
    padding: 40px 0;
}

.arrowdown {
    width: 24px;
}

.arrowback {
    width: 16px;
    margin-right: -10px;
}

.selectItem {
    margin-bottom: 30px !important;
}

.otpInput {
    width: 42px;
    height: 42px;
    max-width: 42px;
    border: 1px solid #572c576f;
    border-radius: 2px;
}
.text-center{
    text-align: center;
}





.has-error {
    color: #fe1917 !important;
    background: rgba(239, 46, 36, 0.02) !important;
    border: 1px solid rgba(239, 46, 36, 0.987) !important;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05) !important;
  }
  .invalid-code {
    color: #fe1917 !important;
    background: rgba(239, 46, 36, 0.02) !important;
    border: 1px solid rgb(246, 16, 4) !important;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05) !important;
  }
  .valid-code {
    color: #2bc25f !important;
    background: rgba(3, 167, 114, 0.02) !important;
    border: 1px solid rgba(3, 167, 114, 0.3) !important;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05) !important;
  }