.container {
    --padding-bottom: 50px;
}

.login_center {
    padding: 2vh 41px 2vh 41px;
}

ion-footer {
    background: #FFFFFF;
    box-shadow: 0px -14px 20px rgba(0, 0, 0, 0.05);
    border-radius: 18px 18px 0 0;
    padding: 40px 0;
}

.arrowback {
    width: 24px;
}